.intro {
  text-align: left;
  color: rgb(9, 17, 97);
  height: 100%;
  width: 100%;
}

#line1 {
  text-align: center;
  color: rgb(105, 9, 9);
  width: 100%
}

.important {
  font-style: italic;
  font-weight: 100;
  font-size: large;
}

img {
  text-align: center;
  width: 100%;
  height: auto;
}